<div data-role="header">
  <h1>メモを編集する</h1>
  <%= link_to '削除', @post, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
