<div data-role="header">
  <h1><%= @post.title %></h1>
  <%= link_to 'ホーム', posts_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <%= @post.body %>
</div>

<!-- TODO:notice表示はどうする？ -->
<!-- <p id="notice"><%#= notice %></p> -->
